*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
key.properties
**/*.keystore
**/*.jks
*.apk
*.aab
app/release/
